<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Invitación de 15 Años</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

</head>
<style>
  body {
    background-image: url("{{ url_for('static', filename='img/imagen.jpg', _external=True) }}");
    ...
  }
</style>

<body>
  <div class="container-texto">
    <h1>🌙 ¡Estás invitado!</h1>
    <p class="maquina">Adriana Insfrán celebra sus 15 años</p>
    <p>Con mucha ilusión, te invito a celebrar mis quince años,
      una noche especial para compartir alegria, sueño y momentos inolvidables
    </p>
    <p><strong>📅 Viernes 01 de Agosto, 2025</strong></p>
    <p><strong>🕗 21:00 hs</strong></p>
    <p><strong>📍 Salón de los Espejos. Fuerza Aérea Paraguaya, Club de Oficiales. Luque</strong></p>
    <p><em>🎩 Dress Code: Casual cómodo</em></p>
    <p class="recomendacion">Te recomendamos ropa ligera y cómoda para que puedas disfrutar y bailar toda la noche sin preocupaciones.</p>
    <a
  class="btn btn-ubicacion"
  href="https://maps.app.goo.gl/RuMiDKo3dot3LaB86"
  target="_blank"
>
  📍 Ver ubicación
</a>

<a
  class="btn btn-confirmar"
  href="https://wa.me/595982297441?text=Confirmo%20mi%20asistencia%20a%20los%2015%20años%20de%20Adriana%20Insfran"
  target="_blank"
>
  ✅ Confirmar asistencia
</a>

<a
  class="btn btn-recomendar"
  href="https://wa.me/595982297441?text=La%20cancion%20que%20no%20puede%20faltar%20es%3A%20"
  target="_blank"
>
  🎵 Recomienda una música
</a>
  </div>
</body>
</html>